doctype html
html
  head
    title Failure Page
  body
    h1 Login Failed
    p Please check your username and password and try again.
    button(type="button", onclick="window.location.href='/login'") Go back to login page
